@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root{
    --white: #ffffff;
    --blue: #446ef8;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;
    --large-heading: 48px;
    --medium-heading: 32px;
    --small-heading: 24px;
    --large-body-text: 20px;
    --body-text: 18px;
    --caption: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s background-color ease-in-out;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #394e71;
}

a{
    text-decoration: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.container{
    width: 100%;
    max-width: 800px;
    padding: 60px;
    border-radius: 15px;
    color: #fff;
    background-color: #06182d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 10px;
    font-weight: 500;
    color: #ffffff86;
    text-transform: uppercase;
}

.main-section{
    display: none;
}

.main-section.active{
    display: block;
}

.main-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .container .section-wrapper{
    padding: 30px;
    border-radius:60px;
    margin-top: 15px;
    background: rgba(17, 16, 16, 0.15);
    box-shadow: 0 8px 20px 0 rgba(56, 85, 173, 0.479);
    backdrop-filter: blur(1.5px);
    border: 1px solid rgba(189, 179, 179, 0.678);
    transform: all 0.3s;
}

.main-section .container .section-wrapper .button-wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.main-section .container .section-wrapper .button-wrapper .button{
    padding: 10px 20px;
    border-radius:50px;
    color: rgb(243, 243, 243);
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(17, 17, 17, 0.15);
    box-shadow: 0 8px 38px 0 rgba(80, 86, 166, 0.529);
    border: 1px solid rgba(255, 255, 255, 0.615);
}

.button:active{
    box-shadow: none;
}

.timer-section .container .section-wrapper .timer-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.timer-section .container .section-wrapper .timer-title > h1{
    font-size: var(--medium-heading);  
}

.timer-section .container .section-wrapper .timer-title > p{
    font-size: var(--large-body-text);
}

.timer-section .container .section-wrapper .timer-title input[type="number"]{
    max-width: 48px;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    font-size: var(--large-body-text);
    border: none;
    outline: none;
}

.timer-section .container .section-wrapper .timer-title #error-message{
    font-size: var(--caption);
    color: red;
}

.timer-section .container .section-wrapper .timer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.timer-section .container .section-wrapper .timer-container #timer{
    font-size: var(--large-heading);
    font-weight: var(--semi-bold);
}

.timer-section .container .section-wrapper .timer-container #timer.running{
    animation: glow 1s linear 4;
}

@keyframes glow{
    50%{
        color: red;
        transform: scale(120%);
    }
}

.timer-section .container .section-wrapper .timer-container .bar{
    width: 100%;
    height: 12px;
    border-radius: 6px;
}

.timer-section .container .section-wrapper .timer-container .bar #indicator-bar{
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background: var(--blue);
}

.timer-section .container .section-wrapper .timer-container .bar #indicator-bar.running{
    animation: shrink 10s linear forwards;
}

@keyframes shrink{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.timer-section .container .section-wrapper .button-wrapper #start-btn,
.stopwatch-section .container .section-wrapper .button-wrapper #start-watch-btn{
    background-color: var(--blue);
    color: #ffffff;
}

.timer-section .container .section-wrapper .button-wrapper #pause-btn,
.stopwatch-section .container .section-wrapper .button-wrapper #pause-watch-btn{
    background-color: red;
    color: #ffffff;
}

.timer-section .container .section-wrapper .button-wrapper #reset-btn,
.stopwatch-section .container .section-wrapper .button-wrapper #reset-watch-btn{
    color: var(--blue);
}

.stopwatch-section .container .section-wrapper #stopwatch{
    min-width: 270px;
    font-size: var(--large-heading);
    font-weight: var(--semi-bold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}

.stopwatch-section .container .section-wrapper #stopwatch span{
    font-size: var(--large-body-text);
    font-weight: var(--regular);
    opacity: 0.7;
}

@media only screen and (max-width: 1280px){
    :root{
        --large-heading: 40px;
    }
}

@media only screen and (max-width: 1024px){
    :root{
        --large-heading: 36px;
        --medium-heading: 28px;
    }
}

@media only screen and (max-width: 768px){
    :root{
        --large-heading: 32px;
        --medium-heading: 24px;
        --large-body-text: 18px;
        --body-text: 16px;
        --caption: 14.4px;
    }
}

@media only screen and (max-width: 480px){
    :root{
        --large-heading: 28px;
        --medium-heading: 20px;
        --body-text: 14.4px;
        --caption: 12px;
    }
}